#firstsection{
    background-color: aqua;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(images/pic.jpg);
    background-size: cover;
}

#top{
    background-color: aliceblue;
    height: 20%;
    width: 50%;
    position: relative;
    left: 25%;
    text-align: center;
    opacity: 0.8;

}
#secondsection{
    background-color: black;
    height: 230%;
    width: 50%;
    position: relative;
    left: 25%;
    opacity: 0.8;
    color: white;
    font-size: 25px;
   
    
}